name: Provision Lab
on:
  workflow_dispatch:
    inputs:
      azure_rg:
        description: 'Azure Resource Group'
        required: true
        type: string
        default: 'enterprise-lab'
      azure_location:
        description: 'Azure Location'
        required: true
        type: string
        default: 'germanywestcentral'
      namingPrefix:
        description: 'Naming Prefix for resources'
        required: true
        type: string
        default: 'entrlab'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    # Checkout code
    - uses: actions/checkout@main

    # Log into Azure
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Encode ISO Downloads JSON to base64
    - name: Encode ISO Downloads JSON
      id: encode_json
      run: |
        echo "ISO_DOWNLOADS_BASE64=$(echo -n '${{ secrets.ISO_DOWNLOADS_JSON }}' | base64 -w 0)" >> $GITHUB_OUTPUT

    # Create Resource Group
    - name: Create Resource Group
      run: |
        az group create \
          --name ${{ inputs.azure_rg }} \
          --location ${{ inputs.azure_location }}

    # Deploy Bicep Template
    - name: Deploy Bicep file
      uses: azure/arm-deploy@v1
      with:
        resourceGroupName: ${{ inputs.azure_rg }}
        template: ./bicep/main.bicep
        parameters: location=${{ inputs.azure_location }} namingPrefix=${{ inputs.namingPrefix }} windowsAdminUsername=${{ secrets.WINDOWS_ADMIN_USERNAME }} windowsAdminPassword=${{ secrets.WINDOWS_ADMIN_PASSWORD }} artifactsBaseUrl="https://raw.githubusercontent.com/${{ github.repository }}/${{ github.ref_name }}/" isoDownloadsBase64Json="${{ steps.encode_json.outputs.ISO_DOWNLOADS_BASE64 }}"
        failOnStdErr: true
