name: Provision Lab
on:
  workflow_dispatch:
    inputs:
      azure_rg:
        description: 'Azure Resource Group'
        required: true
        type: string
        default: 'enterprise-lab'
      azure_location:
        description: 'Azure Location'
        required: true
        type: string
        default: 'germanywestcentral'
      namingPrefix:
        description: 'Naming Prefix for resources'
        required: true
        type: string
        default: 'entrlab'
      workaround_storage_account:
        description: 'Storage Account for workaround'
        required: true
        type: string
        default: 'entrlabworkaroundsa'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    # Checkout code
    - uses: actions/checkout@main

    # Log into Azure
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # ---------------------- Workaround until repository is public ----------------------
    - name: Upload file to Blob
      run: |
        az storage blob upload \
        --account-name ${{ inputs.workaround_storage_account }} \
        --container-name bootstrap \
        --name Bootstrap.ps1 \
        --file ./Bootstrap.ps1 \
        --auth-mode login

    - name: Generate SAS URL
      id: generate_sas
      run: |
        SAS=$(az storage blob generate-sas \
          --account-name ${{ inputs.workaround_storage_account }} \
          --container-name bootstrap \
          --name Bootstrap.ps1 \
          --permissions r \
          --expiry $(date -u -d "+1 hour" '+%Y-%m-%dT%H:%MZ') \
          --https-only \
          --output tsv)
        echo "SAS_URL=https://${{ inputs.workaround_storage_account }}.blob.core.windows.net/bootstrap/Bootstrap.ps1?$SAS" >> $GITHUB_OUTPUT

    # ---------------------- End of Workaround ----------------------

    # Create Resource Group
    - name: Create Resource Group
      run: |
        az group create \
          --name ${{ inputs.azure_rg }} \
          --location ${{ inputs.azure_location }}

    # Deploy Bicep Template
    - name: Deploy Bicep file
      uses: azure/arm-deploy@v1
      with:
        resourceGroupName: ${{ inputs.azure_rg }}
        template: ./main.bicep
        parameters: location=${{ inputs.azure_location }} namingPrefix=${{ inputs.namingPrefix }} windowsAdminUsername=${{ secrets.WINDOWS_ADMIN_USERNAME }} windowsAdminPassword=${{ secrets.WINDOWS_ADMIN_PASSWORD }} bootstrapUrl="${{ steps.generate_sas.outputs.SAS_URL }}"
        failOnStdErr: true
