name: Provision Lab
on:
  workflow_dispatch:
    inputs:
      azure_rg:
        description: 'Azure Resource Group'
        required: true
        type: string
        default: 'enterprise-lab'
      azure_location:
        description: 'Azure Location'
        required: true
        type: string
        default: 'germanywestcentral'
      namingPrefix:
        description: 'Naming Prefix for resources'
        required: true
        type: string
        default: 'entrlab'
      workaround_storage_account:
        description: 'Storage Account for workaround'
        required: true
        type: string
        default: 'entrlabworkaroundsa'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    # Checkout code
    - uses: actions/checkout@main

    # Log into Azure
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Create Resource Group
    - name: Create Resource Group
      run: |
        az group create \
          --name ${{ inputs.azure_rg }} \
          --location ${{ inputs.azure_location }}

    # Deploy Bicep Template
    - name: Deploy Bicep file
      uses: azure/arm-deploy@v1
      with:
        resourceGroupName: ${{ inputs.azure_rg }}
        template: ./main.bicep
        parameters: location=${{ inputs.azure_location }} namingPrefix=${{ inputs.namingPrefix }} windowsAdminUsername=${{ secrets.WINDOWS_ADMIN_USERNAME }} windowsAdminPassword=${{ secrets.WINDOWS_ADMIN_PASSWORD }} templateBaseUrl="${{ github.server_url }}/${{ github.repository }}/raw/${{ github.ref_name }}"
        failOnStdErr: true
